<div style="width: 100%; overflow: hidden;">
    <form #form="ngForm" (ngSubmit)="form.valid && isValid() ? saveProfile(): initTooltips()" novalidate autocomplete="off" id="profile-form" >

    <div class="header-profile">
        <img [lazyLoad]="profile.uploadCoverPhoto" class="full-img" draggable="false" />
        <label for="coverImg" class="upload-cover-img" ><i class="fas fa-sync-alt" ></i></label>
        <div id="full-img-error" class="required-full-img" *ngIf="form.submitted && !profile.uploadCoverPhoto" ><i class="fas fa-exclamation-circle"></i></div>
        
        <img [lazyLoad]="profile.uploadProfilePhoto" class="profile-img" alt="profile" draggable="false" />
        <label for="profileImg" class="upload-profile-img" ><i class="fas fa-sync-alt" ></i></label>
        <div id="profile-img-error" class="required-profile-img" *ngIf="form.submitted && !profile.uploadProfilePhoto" ><i class="fas fa-exclamation-circle"></i></div>

        <div class="profile-name-content">
          <div class="girl-name" >
            <input type="text" [(ngModel)]="profile.Name" name="fname" #fname="ngModel" required class="profile-name" placeholder="Ejem. KarlitaLoves83"/>
            <small ><i class="fa fa-heart-o" style="color: rgb(255, 97, 123);"></i> {{ profile.Profile.LikeCounter | number }}</small>
            
          </div>
          <div class="validation" *ngIf="form.submitted && fname.errors" >
            <span [hidden]="!fname.errors.required" >
              El nombre es requerido.
            </span>
          </div>
          

          <div style="display: flex;">

            <div>
              <ng-select
                [items]="states"
                [multiple]="false"
                [closeOnSelect]="true"
                bindLabel="Description"
                bindValue="KeyState"
                name="fstate"
                #fstate="ngModel"
                class="custom"
                placeholder="Selecciona una ciudad"
                notFoundText="No se encontraron ciudades."
                (change)="getCities(true)"
                required
                [(ngModel)]="profile.Profile.KeyState" >
              </ng-select>

              <div class="validation" *ngIf="form.submitted && fstate.errors" >
                <span [hidden]="!fstate.errors.required" >
                  El estado es requerido.
                </span>
              </div>
            </div>

            <div style="margin-right: 10px;"></div>

            <div>
              <ng-select
                [items]="cities"
                [multiple]="false"
                [closeOnSelect]="true"
                bindLabel="Description"
                bindValue="KeyTown"
                name="fcity"
                #fcity="ngModel"
                class="custom"
                placeholder="Selecciona una ciudad"
                notFoundText="No se encontraron ciudades."
                (change)="getZones()"
                required
                [(ngModel)]="profile.Profile.KeyTown" >
              </ng-select>

              <div class="validation" *ngIf="form.submitted && fcity.errors" >
                <span [hidden]="!fcity.errors.required" >
                  La ciudad es requerido.
                </span>
              </div>
            </div>
            
          </div>
        </div>

        <div class="invisible">
          <input type="file" id="profileImg" (change)="uploadMedia($event, MEDIA.IMAGE, MEDIA.PROFILE)" accept="image/jpeg" capture="filesystem" />
          <input type="file" id="coverImg" (change)="uploadMedia($event, MEDIA.IMAGE, MEDIA.BACK)" accept="image/jpeg" capture="filesystem" />
        </div>
    </div>
    

    <div class="profile-content">
      <div class="detail-col" >
        <div class="profile-panel" >          
         
          <div class="list-item" >
            <span>Nacionalidad: </span>
            <ng-select
                [items]="nationalities"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                bindLabel="Description"
                bindValue="KeyNationality"
                name="fnationality"
                #fnationality="ngModel"
                class="custom2"
                required
                placeholder="Selecciona una nacionalidad"
                notFoundText="No se encontraron nacionalidades."
                [(ngModel)]="profile.Profile.KeyNationality" >
            </ng-select>
            
            <div class="validation" *ngIf="form.submitted && fnationality.errors" >
              <span [hidden]="!fnationality.errors.required" >
                La nacionalidad es requerida.
              </span>
            </div>
          </div>
          
          <div class="list-item" >
            <span>Edad: </span>
            <input type="text" [(ngModel)]="profile.Profile.Age" name="fage" #fage="ngModel" required sufix=" años" mask="00" class="profile-ctrl" placeholder="Ejem. 25"/>
            
            <div class="validation" *ngIf="form.submitted && fage.errors" >
              <span [hidden]="!fage.errors.required" >
                La edad es requerida.
              </span>
            </div>
          </div>

          <div class="list-item" >
            <span>Color de Piel: </span>
            <ng-select
                [items]="colorSkin"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="false"
                bindLabel="Description"
                bindValue="IdCatalogDetail"
                name="fskin"
                #fskin="ngModel"
                class="custom2"
                required
                placeholder="Selecciona un color de piel"
                notFoundText="No se encontraron colores de piel."
                [(ngModel)]="profile.Profile.IdSkinColor" >
            </ng-select>

            <div class="validation" *ngIf="form.submitted && fskin.errors" >
              <span [hidden]="!fskin.errors.required" >
                El color de piel es requerido.
              </span>
            </div>
          </div>
          <div class="list-item" >
            <span>Color de Cabello: </span>
            <ng-select
                [items]="colorHair"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="false"
                bindLabel="Description"
                bindValue="IdCatalogDetail"
                name="fhair"
                #fhair="ngModel"
                class="custom2"
                required
                placeholder="Selecciona un color de pelo"
                notFoundText="No se encontraron colores de pelo."
                [(ngModel)]="profile.Profile.IdHairColor" >
            </ng-select>

            <div class="validation" *ngIf="form.submitted && fhair.errors" >
              <span [hidden]="!fhair.errors.required" >
                El color de cabello es requerido.
              </span>
            </div>
          </div>

          <div class="list-item" >
            <span>Color de Ojos: </span>
            <ng-select
              [items]="colorEyes"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="false"
              bindLabel="Description"
              bindValue="IdCatalogDetail"
              name="feyes"
              #feyes="ngModel"
              class="custom2"
              required
              placeholder="Selecciona un color de ojos"
              notFoundText="No se encontraron colores de ojos."
              [(ngModel)]="profile.Profile.IdEyeColor" >
            </ng-select>

            <div class="validation" *ngIf="form.submitted && feyes.errors" >
              <span [hidden]="!feyes.errors.required" >
                El color de ojos es requerido.
              </span>
            </div>
          </div>
          <div class="list-item" >
            <span>Medidas: </span>
            <input type="text" [(ngModel)]="profile.Profile.Measures" maxlength="11" [pattern]="measuresRegex" name="ffigure" #ffigure="ngModel" required class="profile-ctrl" placeholder="Ejem. 90-60-100" />

            <div class="validation" *ngIf="form.submitted && ffigure.errors" >
              <span [hidden]="!ffigure.errors.required" >
                Las medidas son requeridas.
              </span>
              <span [hidden]="!ffigure.errors.pattern" >
                El formato no es correcto
              </span>
            </div>
          </div>
          <div class="list-item" >
            <span>Altura: </span>
            <input type="text" [(ngModel)]="profile.Profile.Height" name="fheight" #fheight="ngModel" required sufix=" mts." mask="0.00" class="profile-ctrl" placeholder="Ejem. 1.68"/>

            <div class="validation" *ngIf="form.submitted && fheight.errors" >
              <span [hidden]="!fheight.errors.required" >
                La altura es requerida.
              </span>
            </div>
          </div>
          <div class="list-item" >
            <span>Peso: </span>
            <input type="text" [(ngModel)]="profile.Profile.Weight" name="fweight" #fweight="ngModel" required sufix=" kg." mask="900" class="profile-ctrl" placeholder="Ejem. 61"/>

            <div class="validation" *ngIf="form.submitted && fweight.errors" >
              <span [hidden]="!fweight.errors.required" >
                El peso es requerido.
              </span>
            </div>
          </div>
          <div class="list-item" style="flex-wrap: wrap;" >
            <span style="flex:100%;">Zonas: </span>
            <tag-input [(ngModel)]='profile.Profile.Area' [identifyBy]="'Description'" [displayBy]="'Description'" name="fzones" #fzones="ngModel" required placeholder="Ejem. Polanco, Santa fe" secondaryPlaceholder="Ejem. Polanco, Santa fe" theme="dark" >
              <tag-input-dropdown [autocompleteItems]="zones" [identifyBy]="'Description'" [displayBy]="'Description'" [showDropdownIfEmpty]="false" ></tag-input-dropdown>
            </tag-input>

            <div class="validation" *ngIf="form.submitted && fzones.errors" >
              <span [hidden]="!fzones.errors.required" >
                Las zonas son requeridas.
              </span>
            </div>
          </div>
          <div class="list-item" style="flex-wrap: wrap;" >
            <span style="flex:100%;">Lenguajes: </span>
            <tag-input [(ngModel)]='profile.Profile.Language' [identifyBy]="'IdCatalogDetail'" [displayBy]="'Description'" name="flanguages" #flanguages="ngModel" required placeholder="Ejem. Ingles, Español" secondaryPlaceholder="Ejem. Ingles, Español" theme="dark" >
              <tag-input-dropdown [autocompleteItems]="languages" [identifyBy]="'IdCatalogDetail'" [displayBy]="'Description'" [showDropdownIfEmpty]="false" ></tag-input-dropdown>
            </tag-input>

            <div class="validation" *ngIf="form.submitted && flanguages.errors" >
              <span [hidden]="!flanguages.errors.required" >
                Los lenguajes son requeridos.
              </span>
            </div>
          </div>
          <div class="list-item" style="flex-wrap: wrap;" >
            <span style="flex:100%;">Locaciones: </span>
            <tag-input [(ngModel)]='profile.Profile.Location' [identifyBy]="'IdCatalogDetail'" [displayBy]="'Description'" name="flocations" #flocations="ngModel" required placeholder="Ejem. hotel, departamento" secondaryPlaceholder="Ejem. hotel, departamento" theme="dark" >
              <tag-input-dropdown [autocompleteItems]="locations" [identifyBy]="'IdCatalogDetail'" [displayBy]="'Description'" [showDropdownIfEmpty]="false" ></tag-input-dropdown>
            </tag-input>

            <div class="validation" *ngIf="form.submitted && flocations.errors" >
              <span [hidden]="!flocations.errors.required" >
                Las locaciones son requeridas.
              </span>
            </div>
          </div>
          <div class="list-item" >
            <span>Teléfono: </span>
            <input type="text" [(ngModel)]="profile.Profile.Phone" name="fphone" #fphone="ngModel" required mask="(00) 0000-0000" class="profile-ctrl" placeholder="Ejem. (55) 2738-0873"/>

            <div class="validation" *ngIf="form.submitted && fphone.errors" >
              <span [hidden]="!fphone.errors.required" >
                El teléfono es requerido.
              </span>
            </div>
          </div>
          <div class="list-item" >
            <span>Twitter: </span>
            <input type="text" [(ngModel)]="profile.Profile.Twitter" [pattern]="urlPattern" name="ftwitter" #ftwitter="ngModel" class="profile-ctrl" placeholder="https://twitter.com"/>

            <div class="validation" *ngIf="form.submitted && ftwitter.errors" >
              <span [hidden]="!ftwitter.errors.pattern" >
                El formato de la url no es valido.
              </span>
            </div>
          </div>
          <div class="list-item" >
            <span>Instagram: </span>
            <input type="text" [(ngModel)]="profile.Profile.Instagram" [pattern]="urlPattern" name="finstagram" #finstagram="ngModel" class="profile-ctrl" placeholder="https://instagram.com"/>
            
            <div class="validation" *ngIf="form.submitted && finstagram.errors" >
              <span [hidden]="!finstagram.errors.pattern" >
                El formato de la url no es valido.
              </span>
            </div>
          </div>
          
        </div>
  
        <div class="profile-panel" style="margin-top: 10px; padding-bottom: 50px;">
          <div class="section-title" style="margin-top: 0px;" >
            <span class="title">Comentarios</span>
          </div>
  
          <div class="comment-list">
            <div class="comment-item" *ngFor="let comment of profile.Profile?.Comment; let i = index;" >
              <div style="text-align: right; display: block;">
                <span (click)="removeComment(comment.IdComment, i)"><i class="fa fa-trash" style="color: #FD297B; font-size: 22px;"></i></span>
              </div>
              <div>
                <span>{{ comment.AliasName }}</span>
                <div >
                  <span *ngFor="let like of [1, 2, 3, 4, 5]" >
                    <i class="fa fa-heart" *ngIf="like <= comment.LikeCounter" ></i>
                    <i class="fa fa-heart-o" *ngIf="like > comment.LikeCounter"></i>
                  </span>
                </div>
              </div>
              <span style="font-size: 14px;">{{ comment.Comment }}</span>
            </div>

            <div *ngIf="!profile.Profile?.Comment || profile.Profile?.Comment.length < 1" class="no-content">
              <span ><i class="fas fa-ban"></i></span><br>
              <h4 >No hay comentarios para mostrar</h4>
            </div>
    
            <!--div class="comment-item" >
              <div>
                <span>Moy</span>
                <div >
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart-o"></i>
                </div>
              </div>
              <span style="font-size: 14px;">Fue una experiencia increible Lucero se porto super linda, sin duda alguna recomendadisima para cualquiera que quiera divertise.</span>
            </div>
    
            <div class="comment-item" >
              <div>
                <span>Fer</span>
                <div >
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <span style="font-size: 14px;">Pocas mujeres tan sexis me han tocado en mi vida, Dominga super buena onda, rica, sexy, cachonda, la verdad que bueno que anda de gira, porque si viviera en mi ciudad, ya estaria yo en la calle….</span>
            </div-->
  
          </div>
          
        </div>
        
      </div>
  
      <div class="galery-col" >
  
        <div class="tabs-content">
          <div class="tabs" [ngClass]="{ 'active': tab == 'detail' }" (click)="tab = 'detail'" >Información</div>
          <div class="tabs" [ngClass]="{ 'active': tab == 'galery' }" (click)="tab = 'galery'" >Galeria</div>
        </div>
  
        <div class="profile-panel-2" *ngIf="tab == 'detail'">
          
          <div class="section-title" style="margin-top: 0px;">
            <span class="title"><i class="fas fa-user"></i> Sobre mi</span>
            <div class="phone-content">
              <i class="fas fa-mobile-alt" ></i> 
              <input type="text" [(ngModel)]="profile.Profile.Phone" name="fphone2" #fphone2="ngModel" required mask="(00) 0000-0000" class="phone-ctrl" placeholder="Ejem. (55) 6473-8463"/>
              
              <div class="validation" *ngIf="form.submitted && fphone2.errors" style="text-align: right;" >
                <span [hidden]="!fphone2.errors.required" >
                  El teléfono es requerido.
                </span>
              </div>
            </div>
          </div>
  
            
          <div >
            <div style="text-align: right;">
              <span>{{ profile.Profile.Description ? profile.Profile.Description.length: 0 }} / 2000</span>
            </div>
            <textarea rows="8" [(ngModel)]="profile.Profile.Description" name="fdescription" maxlength="2000" #fdescription="ngModel" required class="description-ctrl" placeholder="Ejem. Hola soy KarlitaLoves83 soy una chica muy linda ....."></textarea>
            
            <div class="validation" *ngIf="form.submitted && fdescription.errors" >
              <span [hidden]="!fdescription.errors.required" >
                La descripción es requerida.
              </span>
            </div>
          </div>
          
          <div class="section-title" >
            <span class="title"><i class="fas fa-fire-alt"></i> Servicios</span>
          </div>

          <div class="flex-content">
            <ng-select
                [items]="services"
                [multiple]="false"
                [closeOnSelect]="true"
                bindLabel="Description"
                name="fservice"
                class="custom3"
                placeholder="Selecciona un servicio"
                notFoundText="No se encontraron servicios."
                [(ngModel)]="service" >
            </ng-select>

            <button type="button" (click)="addService()" class="profile-btn" >Agregar</button>
          </div>

          <div class="validation" *ngIf="form.submitted && (!profile.Profile?.Service || profile.Profile?.Service.length == 0)" >
            Los servicios son requeridos.
          </div>
  
          <div >
            <span class="tag" *ngFor="let service of profile.Profile?.Service; let i = index;">{{ service.Description }} <i class="fa fa-times" style="color: #fff;" (click)="removeService(i)"></i></span>
          </div>
        
          <div class="section-title" >
            <span class="title"><i class="far fa-credit-card"></i> Tarifas</span>
          </div>
  
            
          <div >
            <div class="list-item">
              <span>1 hora: </span>

              <input type="text" [(ngModel)]="profile.Profile.Price1" maxlength="8" name="fprice1" prefix="$ " mask="comma_separator.0" class="price-ctrl" placeholder="Ejem. $ 1,800"/>
            </div>
            <div class="list-item">
              <span>2 horas: </span>
              <input type="text" [(ngModel)]="profile.Profile.Price2" maxlength="8" name="fprice2" prefix="$ " mask="comma_separator.0" class="price-ctrl" placeholder="Ejem. $ 2,500"/>
            </div>
            <div class="list-item">
              <span>3 horas: </span>
              <input type="text" [(ngModel)]="profile.Profile.Price3" maxlength="8" name="fprice3" prefix="$ " mask="comma_separator.0" class="price-ctrl" placeholder="Ejem. $ 3,500"/>
            </div>
            <div class="list-item">
              <span>Toda la Noche: </span>
              <span >A coordinar</span>
            </div>
            <div class="list-item">
              <span>Fin de semana: </span>
              <span >A coordinar</span>
            </div>
            <div class="list-item">
              <span>Viajes: </span>
              <span >A coordinar</span>
            </div>
          </div>
          
          <div class="info-content" id="important" >
            <span class="info-mark" >AVISO IMPORTANTE</span><br><br>
            <span class="info-mark">{{ profile.Name }}</span> ha firmado una carta consentimiento y un convenio de publicidad en el que manifiesta ser una <span class="info-mark">modelo 100% independiente</span>, acredita ser <span class="info-mark">mayor de 18 años</span> en pleno uso de sus facultades físicas y mentales, permitiendo a <span class="info-mark">Diablitas</span> publicar el material fotográfico que le hace llegar y no está siendo obligada, amenazada ni sometida por ninguna persona, siendo <span class="info-mark">{{ profile.Name }}</span>  la única responsable de la finalidad y los encuentros que llegara a tener con las personas que la contacten por este medio y por lo tanto deslinda a <span class="info-mark">Diablitas</span> y a las personas que forman parte de esta página de cualquier problema legal ocasionado con el anuncio.
          </div>
    
        </div>
  
        <div *ngIf="tab == 'galery'" class="profile-panel-2">
  
  
          <div class="section-title" style="margin-top: 0;" >
            <span class="title"><i class="fas fa-video"></i> Videos</span>
            <button type="button" class="add-btn"><label style="margin: 0px; color: #fff; padding: 10px 20px;" for="videos"><i class="fas fa-plus"></i> Agregar</label></button>
          </div>

          <input type="file" style="display: contents;" id="videos" (change)="uploadMedia($event, MEDIA.VIDEO, MEDIA.GALERY)" class="invisible" accept="video/mp4" capture="filesystem" />
  
          <div class="row" >
            <div class="col-md-4" *ngFor="let video of profile.videos; let i = index;">
              <div style="position: relative;" >
                <label (click)="removeMedia(video.idMedia, video.uri)" class="remove-video-icon" ><i class="fas fa-times" ></i></label>
              
                <video height="200" controls >
                  <source [src]="video.video" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
            </div>

            <div *ngIf="!profile.videos || profile.videos.length < 1" class="no-content">
              <span ><i class="fas fa-ban"></i></span><br>
              <h3 >No hay videos para mostrar</h3>
            </div>

          </div>
  
          <div class="section-title" >
            <span class="title"><i class="fas fa-camera-retro"></i> Fotografías</span>
            <button type="button" class="add-btn"><label style="margin: 0px; color: #fff;padding: 10px 20px;" for="photos"><i class="fas fa-plus"></i> Agregar</label></button>
          </div>

          <input type="file" style="display: contents;" id="photos" (change)="uploadMedia($event, MEDIA.IMAGE, MEDIA.GALERY)" class="invisible" accept="image/jpeg" capture="filesystem" />
  
          <div class="row" >
            <div class="col-xs-6 col-md-4" *ngFor="let photo of profile.photos; let i = index;">
              <div class="card-galery" >
                <label (click)="removeMedia(photo.idMedia, photo.uri)" class="remove-img-icon" ><i class="fas fa-times" ></i></label>
                <img [defaultImage]="loading" [lazyLoad]="photo.img" draggable="false" (click)="openModalPhotos(i)" />
              </div>
            </div>

            <div *ngIf="!profile.photos || profile.photos.length < 1" class="no-content">
              <span ><i class="fas fa-ban"></i></span><br>
              <h3 >No hay fotografías para mostrar</h3>
            </div>
  
          </div>
  
  
          <div class="info-content" id="important2" >
            <span class="info-mark" >AVISO IMPORTANTE</span><br><br>
            <span class="info-mark">{{ profile.Name }}</span> ha firmado una carta consentimiento y un convenio de publicidad en el que manifiesta ser una <span class="info-mark">modelo 100% independiente</span>, acredita ser <span class="info-mark">mayor de 18 años</span> en pleno uso de sus facultades físicas y mentales, permitiendo a <span class="info-mark">Diablitas</span> publicar el material fotográfico que le hace llegar y no está siendo obligada, amenazada ni sometida por ninguna persona, siendo <span class="info-mark">{{ profile.Name }}</span>  la única responsable de la finalidad y los encuentros que llegara a tener con las personas que la contacten por este medio y por lo tanto deslinda a <span class="info-mark">Diablitas</span> y a las personas que forman parte de esta página de cualquier problema legal ocasionado con el anuncio.
          </div>
  
        </div>
  
      </div>
      <input type="submit" id="submit-btn" style="visibility: hidden; pointer-events: none;">
    </div>
    </form>
  
  
    <div class="icon-bar">
      <a href="javascript: void(0)" class="important" (click)="goToImportant()"><i class="fas fa-exclamation-triangle"></i></a> 
      <a href="javascript: void(0)" class="twitter" (click)="openLink(profile.Profile.Twitter)"><i class="fa fa-twitter"></i></a> 
      <a href="javascript: void(0)" class="instagram" (click)="openLink(profile.Profile.Instagram)"><i class="fa fa-instagram"></i></a>
    </div>

    
  
    
  </div>


  
  
  <div class="modal fade" role="dialog" id="edit-photo">
    <div class="modal-dialog" >
      <div class="modal-content">
       
        <div class="modal-body" style="padding: 0px;">
  
          <div id="carrusel" style="position: relative;">
            <button type="button" data-dismiss="modal" style="position: absolute; top: 5px; right: 5px; background: transparent; border: none; font-size: 22px; padding: 5px 10px;"><i class="fa fa-times" style="color: #fff;"></i></button>
            <img [src]="img" draggable="false" class="c-img" />
  
            <button type="button" class='left-banner' (click)="prevImg()"><i class="fa fa-angle-left"></i></button>
            <button type="button" class='right-banner' (click)="nextImg()"><i class="fa fa-angle-right"></i></button>
  
            <div style="text-align: center; padding: 10px 0px;">
              <span *ngFor="let photo of profile.photos; let i = index;" >
                <span class="dot" [ngClass]="{ 'active-dot': currentIndex == i }" (click)="img = modelPhotos[i].img; currentIndex = i;"></span>
              </span>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>



<div class="membership-status" *ngIf="profile.Profile.IdStatusMembership != 1">
  <span class="pay-status"><i class="fa fa-exclamation"></i></span> <div class="membership-description"><small>Membresia / Estatus:</small><br><b>{{ profile.Profile.IdPackage == 1 ? 'SILVER': profile.Profile.IdPackage == 2 ? 'GOLD': profile.Profile.IdPackage == 3 ? 'DIAMOND': '' }} INACTIVA</b><!--br><small>!Tu perfil no estara visible hasta que realices el pago de tu subscripción¡</small--></div>
</div>

<div class="membership-status" *ngIf="profile.Profile.IdStatusMembership == 1">
  <span class="pay-status"><i class="fa fa-check"></i></span> <div class="membership-description"><small>Membresia / Estatus:</small><br><b>{{ profile.Profile.IdPackage == 1 ? 'SILVER': profile.Profile.IdPackage == 2 ? 'GOLD': profile.Profile.IdPackage == 3 ? 'DIAMOND': '' }} ACTIVA</b></div>
</div>