<div style="padding-top: 100px; min-height: 70vh;">


    <div class="password-content" >
      <form #form="ngForm" (ngSubmit)="form.valid ? changePassword(): null" autocomplete="off" novalidate >
        <div style="text-align: center;" >
          <span class="big-icon"><i class="fas fa-unlock"></i></span><br>
          <span class="password-title">Cambio de contraseña</span>
          
          <!--span class="password-text">Ingresa tu nueva contraseña</span-->

          <div class="row" style="padding: 0px 25% 50px; text-align: left;">
            <div class="form-group">
              <label class="required">Nueva contraseña</label>
              <input type="password" [(ngModel)]="user.password" #fpassword="ngModel" name="fpassword" required class="form-control" />

              <div class="validation" *ngIf="form.submitted && fpassword.errors" >
                <span [hidden]="!fpassword.errors.required" >
                  La contraseña es requerida.
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Confirmar contraseña</label>
              <input type="password" (keyup)="validate()" [(ngModel)]="user.confirmPassword" #fconfirmPassword="ngModel" name="fconfirmPassword" required  class="form-control" />

              <div class="validation" *ngIf="form.submitted && fconfirmPassword.errors" >
                <span [hidden]="!fconfirmPassword.errors.required" >
                  La confirmación de contraseña es requerida.
                </span>
              </div>
              <div class="validation" *ngIf="fconfirmPassword.dirty">
                <span [hidden]="isValid" >
                  Las contraseñas no coinciden.
                </span>
              </div>
            </div>
          </div>
          
          <button type="submit" class="password-btn" >Cambiar contraseña</button>
        </div>
      </form> 
    </div>

  
  </div>