<div >
  
  <div class="header-profile" >
    <img [src]="profile.uploadCoverPhoto" class="full-img" draggable="false" />
    <img [src]="profile.uploadProfilePhoto" class="profile-img" draggable="false" />
    
    <div class="profile-name-content">
      <div class="girl-name" >
        <span ><i class="fa fa-diamond"></i> {{ profile.Name }}</span>
        <small ><i class="fa fa-heart-o" style="color: rgb(255, 97, 123);"></i> 1,356</small>
      </div>
      <span class="girl-city" >{{ profile.Profile.DescriptionTown }}, {{ profile.Profile.DescriptionState }}</span>
    </div>
  </div>

  <div class="profile-content">
    <div class="detail-col" >

      <div class="profile-panel" > 
        <div class="list-item" >
          <span>Nacionalidad: </span>
          <span >{{ profile.Profile.DescriptionNationality }}</span>
        </div>
        <div class="list-item" >
          <span>Edad: </span>
          <span >{{ profile.Profile.Age }} años</span>
        </div>
        <div class="list-item" >
          <span>Color de Piel: </span>
          <span >{{ profile.Profile.DescriptionSkinColor }}</span>
        </div>
        <div class="list-item" >
          <span>Color de Pelo: </span>
          <span >{{ profile.Profile.DescriptionHairColor }}</span>
        </div>
        <div class="list-item" >
          <span>Color de Ojos: </span>
          <span >{{ profile.Profile.DescriptionEyeColor}}</span>
        </div>
        <div class="list-item" >
          <span>Medidas: </span>
          <span >{{ profile.Profile.Measures }}</span>
        </div>
        <div class="list-item" >
          <span>Altura: </span>
          <span >{{ (profile.Profile.Height / 100) | number: '1.2-2' }} m.</span>
        </div>
        <div class="list-item" >
          <span>Peso: </span>
          <span >{{ profile.Profile.Weight }} kg.</span>
        </div>
        <div class="list-item" style="justify-content: flex-start;">
          <span style="flex: 100%; margin-bottom: 10px;">Zonas: </span>
          <span style="margin-right: 10px;" *ngFor="let area of profile.Profile.Area; let i = index;" >{{ area.Description }}<span *ngIf="i < (profile.Profile.Area.length - 1)" >,</span></span>
        </div>

        <div class="list-item" style="justify-content: flex-start;">
          <span style="flex: 100%; margin-bottom: 10px;">Lenguajes: </span>
          <span style="margin-right: 10px;" *ngFor="let language of profile.Profile.Language; let i = index;" >{{ language.Description }}<span *ngIf="i < (profile.Profile.Language.length - 1)" >,</span></span>
        </div>

        <div class="list-item" style="justify-content: flex-start;">
          <span style="flex: 100%; margin-bottom: 10px;">Locaciones: </span>
          <span style="margin-right: 10px;" *ngFor="let location of profile.Profile.Location; let i = index;" >{{ location.Description }}<span *ngIf="i < (profile.Profile.Location.length - 1)" >,</span></span>
        </div>
        
        <div class="list-item" >
          <span>Teléfono: </span>
          <span class="celphone"><i class="fas fa-mobile-alt"></i> {{ profile.Profile.Phone }}</span>
        </div>

        <div class="list-item" style="justify-content: space-around;">
          <span class="social-icon" style="background: #55ACEE;" (click)="openLink(profile.Profile.Twitter)"><i class="fa fa-twitter"></i></span>
          <span class="social-icon" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);" (click)="openLink(profile.Profile.Instagram)"><i class="fa fa-instagram"></i></span>
        </div>     
        
      </div>

      <div class="profile-panel" style="margin-top: 10px;" >
        <div class="section-title" style="margin-top: 0px;">
          <span class="title" >Comentarios</span>
        </div>

        <div class="comment-list" >
          <div class="comment-item" *ngFor="let comment of profile.Profile?.Comment">
            <div>
              <span>{{ comment.AliasName }}</span>
              <div >
                <span *ngFor="let like of [1, 2, 3, 4, 5]" >
                  <i class="fa fa-heart" *ngIf="like <= comment.LikeCounter" ></i>
                  <i class="fa fa-heart-o" *ngIf="like > comment.LikeCounter"></i>
                </span>
              </div>
            </div>
            <span style="font-size: 14px;">{{ comment.Comment }}</span>
          </div>

          <div *ngIf="!profile.Profile?.Comment || profile.Profile?.Comment.length < 1" class="no-content">
            <span ><i class="fas fa-ban"></i></span><br>
            <h4 >No hay comentarios para mostrar</h4>
          </div>

        </div>
        
        <div class="comment-btn-content">
          <button class="comment-btn" (click)="openModalComment()">Agregar comentario</button>
        </div>

      </div>
    </div>

    <div class="galery-col" >

      <div class="tabs-content">
        <div class="tabs" [ngClass]="{ 'active': tab == 'detail' }" (click)="tab = 'detail'" >Detalle</div>
        <div class="tabs" [ngClass]="{ 'active': tab == 'galery' }" (click)="tab = 'galery'" >Galeria</div>
      </div>

      <div class="profile-panel-2" [hidden]="tab != 'detail'" style="padding: 25px;">

        <div class="section-title" style="margin-top: 0px;">
          <span class="title"><i class="fas fa-user"></i> Sobre mi</span>
          <span class="celphone"><i class="fas fa-mobile-alt"></i> {{ profile.Profile.Phone }}</span>
        </div>

        <div style="white-space: pre-wrap; background: #191919; padding: 25px 10px;" >
            {{ profile.Profile.Description }}
        </div>
        
        <div class="section-title" >
          <span class="title"><i class="fas fa-fire-alt"></i> Servicios</span>
        </div>

        <div >
          <span class="tag" *ngFor="let service of profile.Profile?.Service; let i = index;">{{ service.Description }}</span>
        </div>
      
        <div class="section-title" >
          <span class="title"><i class="far fa-credit-card"></i> Tarifas</span>
        </div>

          
        <div >
          <div class="list-item">
            <span>1 hora: </span>
            <span >{{ profile.Profile.Price1 | currency }}</span>
          </div>
          <div class="list-item">
            <span>2 horas: </span>
            <span >{{ profile.Profile.Price2 | currency }}</span>
          </div>
          <div class="list-item">
            <span>3 horas: </span>
            <span >{{ profile.Profile.Price3 | currency }}</span>
          </div>
          <div class="list-item">
            <span>Toda la Noche: </span>
            <span >A coordinar</span>
          </div>
          <div class="list-item">
            <span>Fin de semana: </span>
            <span >A coordinar</span>
          </div>
          <div class="list-item">
            <span>Viajes: </span>
            <span >A coordinar</span>
          </div>
        </div>

        <div class="info-content" id="important" >
          <span class="info-mark" >AVISO IMPORTANTE</span><br><br>
          <span class="info-mark">LuceroHot</span> ha firmado una carta consentimiento y un convenio de publicidad en el que manifiesta ser una <span class="info-mark">modelo 100% independiente</span>, acredita ser <span class="info-mark">mayor de 18 años</span> en pleno uso de sus facultades físicas y mentales, permitiendo a <span class="info-mark">Diablitas</span> publicar el material fotográfico que le hace llegar y no está siendo obligada, amenazada ni sometida por ninguna persona, siendo <span class="info-mark">LuceroHot</span>  la única responsable de la finalidad y los encuentros que llegara a tener con las personas que la contacten por este medio y por lo tanto deslinda a <span class="info-mark">Diablitas</span> y a las personas que forman parte de esta página de cualquier problema legal ocasionado con el anuncio.
        </div>
  
      </div>

      <div class="profile-panel-2" [hidden]="tab != 'galery'" style="padding: 25px;" >


        <div class="section-title" style="margin-top: 0px;" >
          <span class="title"><i class="fas fa-video"></i> Videos</span>
        </div>

        <div class="row" >
          <div class="col-md-4" *ngFor="let video of profile.videos" >
          
            <video height="200" controls >
              <source [src]="video.video" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
                
          </div>
        </div>

        <div class="section-title" >
          <span class="title"><i class="fas fa-camera-retro"></i> Fotografías</span>
        </div>

      
        <div class="row" >
          <div class="col-xs-6 col-md-4" *ngFor="let photo of profile.photos; let i = index;" >
            <div class="card-galery" (click)="openModalPhotos(i)" >
              <img [lazyLoad]="photo.img" draggable="false" />
            </div>
          </div>
        </div>

        <div class="info-content" id="important2" >
          <span class="info-mark" >AVISO IMPORTANTE</span><br><br>
          <span class="info-mark">LuceroHot</span> ha firmado una carta consentimiento y un convenio de publicidad en el que manifiesta ser una <span class="info-mark">modelo 100% independiente</span>, acredita ser <span class="info-mark">mayor de 18 años</span> en pleno uso de sus facultades físicas y mentales, permitiendo a <span class="info-mark">Diablitas</span> publicar el material fotográfico que le hace llegar y no está siendo obligada, amenazada ni sometida por ninguna persona, siendo <span class="info-mark">LuceroHot</span>  la única responsable de la finalidad y los encuentros que llegara a tener con las personas que la contacten por este medio y por lo tanto deslinda a <span class="info-mark">Diablitas</span> y a las personas que forman parte de esta página de cualquier problema legal ocasionado con el anuncio.
        </div>

      </div>

    </div>
        

  </div>


  <div class="icon-bar">
    <a href="javascript: void(0)" class="important" (click)="goToImportant()"><i class="fas fa-exclamation-triangle"></i></a> 
    <a href="javascript: void(0)" class="twitter" (click)="openLink(profile.Profile.Twitter)"><i class="fa fa-twitter"></i></a> 
    <a href="javascript: void(0)" class="instagram" (click)="openLink(profile.Profile.Instagram)"><i class="fa fa-instagram"></i></a> 
  </div>

  
</div>

<!-- GALERY MODAL -->

<div class="modal fade" role="dialog" id="photos">
  <div class="modal-dialog" >
    <div class="modal-content">
     
      <div class="modal-body" style="padding: 0px;">

        <div id="carrusel" style="position: relative;">
          <button type="button" data-dismiss="modal" style="position: absolute; top: 5px; right: 5px; background: transparent; border: none; font-size: 22px; padding: 5px 10px;"><i class="fa fa-times" style="color: #fff;"></i></button>
          <img [src]="img" draggable="false" class="c-img" />

          <button class='left-banner' (click)="prevImg()"><i class="fa fa-angle-left"></i></button>
          <button class='right-banner' (click)="nextImg()"><i class="fa fa-angle-right"></i></button>

          <div style="text-align: center; padding: 10px 0px;">
            <span *ngFor="let photo of profile.photos; let i = index;" >
              <span class="dot" [ngClass]="{ 'active-dot': currentIndex == i }" (click)="img = profile.photos[i].img; currentIndex = i;"></span>
            </span>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>



<!-- COMMENTS MODAL -->

<div class="modal fade" role="dialog" id="comment">
  <div class="modal-dialog " >
    <div class="modal-content comment-modal" >

      <div class="modal-header" >
        <div style="text-align: right;">
          <span style="float: left; font-size: 25px; font-weight: bold;">Nuevo comentario</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
        </div>
      </div>
      
      <div class="modal-body comment-body" >
         

        <form #form="ngForm" (ngSubmit)="form.valid ? true: false" autocomplete="off" novalidate >

          <div class="row" style="margin: 10px 0px;">
            <div class="col-sm-6 col-md-6" style="margin-bottom: 10px;">
              <label class="required" >Nombre:</label>
              <input type="text" [(ngModel)]="comment.name" #fname="ngModel" name="fname" required placeholder="Ejem. Ricardo" class="profile-control" />
              
              <div class="validation" *ngIf="form.submitted && fname.errors" >
                <span [hidden]="!fname.errors.required" >
                  El nombre es requerido.
                </span>
              </div>
            </div>
            <div class="col-sm-6 col-md-6" style="margin-bottom: 10px;">
              <label class="required" >Corazones:</label><br>
              <rating [max]="5" [(ngModel)]="comment.score" #fscore="ngModel" name="fscore" required [customTemplate]="heart" style="color: #FD297B; font-size: 35px; outline: none;" ></rating>
              <ng-template #heart let-index="index" let-value="value" style="outline: none;" >
                <i [ngClass]="index < value ? 'fa fa-heart' : 'fa fa-heart-o'"  ></i>
              </ng-template>

              <div class="validation" *ngIf="form.submitted && fscore.errors" >
                <span [hidden]="!fscore.errors.required" >
                  Los corazones son requeridos.
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px 0px;">
            <div class="col-sm-12 col-md-12">
              <label class="required" >Comentario:</label>
              <textarea rows="4" [(ngModel)]="comment.comment" #fcomment="ngModel" name="fcomment" required placeholder="Ejem. Una chica realmente hermosa, super linda y divertida, la pase genial con ella recomiendo mucho salir con ella." class="profile-control" ></textarea>
              
              <div class="validation" *ngIf="form.submitted && fcomment.errors" >
                <span [hidden]="!fcomment.errors.required" >
                  El comentario es requerido.
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="margin: 10px 0px;">
            <div class="col-sm-12 col-md-12">
              <re-captcha [(ngModel)]="comment.captcha" #fcaptcha="ngModel" name="fcaptcha" required [siteKey]="siteKey" ></re-captcha>

              <div class="validation" *ngIf="form.submitted && fcaptcha.errors" >
                <span [hidden]="!fcaptcha.errors.required" >
                  Validar el captcha es requerido.
                </span>
              </div>
            </div>
          </div>


          <div class="comment-btn-content">
            <button type="submit" class="comment-btn" >Agregar comentario</button>
          </div>
        </form>

      </div>
      
    </div>
  </div>
</div>

  